@font-face {
  font-family: "HelveticaNeueW23forSKY";
  src: url("../fonts/HelveticaNeueW23forSKY-Reg.woff2") format("woff2"), url("../fonts/HelveticaNeueW23forSKY-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueW23forSKY";
  src: url("../fonts/HelveticaNeueW23forSKY-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeueW23forSKY-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "HelveticaNeueW23forSKY";

  direction: rtl;
}
.header .intro .email-box input , .start-btn{
  font-family: "HelveticaNeueW23forSKY";

}
.navbar .learn-more {
  text-align: left;
}
.features .feature-card {
  text-align: right;
}
.footer .footer-content .footer-btn {
  text-align: left;
}

.navbar .learn-more .language-btn {
  margin-right: 10px;
}
.header .intro .email-box .start-btn {
  left: 0;
  right: auto;
  border-radius: 50px 0 0 50px;
}

.header .intro .email-box input {
  padding-right: 30px;
  padding-left: 0;
}
@media (max-width: 767px) {
  .header .intro .email-box input {
    margin-left: 5px;
  }
}
